        body {
            font-family: 'Aileron', sans-serif;
            font-size: 12pt;
            color: black;
            margin: 0;
            padding: 0;
        }
        header {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
                padding-left: 55px;
                padding-right: 55px;
        }
        .header-image {
            width: 100%;
            height: 200px;
            background: white; /* Placeholder for header image */
        }
        .logo {
            width: 300px;
        }

        nav {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 95%;
            background: #f4f4f4;
            padding: 10px 20px;
        }
        .nav-links {
            display: flex;
            gap: 20px;
        }
        .nav-links a {
            text-decoration: none;
            color: black;
        }

        .nav-links a:hover {
            text-decoration: underline;
        }
        main {
            padding: 20px;
            text-align: center;
        }

        img {
            height: 200px;
            width: 200px;
        }

        img:hover {
            box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
        }

        footer {
            background: #f4f4f4;
            text-align: center;
            padding: 10px;
        }
        .container {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            padding: 50px;
        }
        .half-container {
            width: 50%;
            padding: 20px;
            box-sizing: border-box;
            text-align: center;
        }
        .full-container {
            width: 90%;
            padding: 20px;
            text-align: left;
            padding-left: 55px;
            padding-bottom: 25px;
            padding-right: 55px;
            padding-top: 25px;

        }
        .split-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            
        }
        .split-container div {
            width: 40%;
        }
        .divider {
            width: 4px;
            background-color: #000000;
            height: 100%;
        }

        button {
            display: block;
            margin: 20px auto;
            padding: 10px 20px;
            background-color: #00509d;
            color: white;
            border: none;
            border-radius: 8px;
            cursor: pointer;
            font-size: 16px;
        }
        input, textarea {
            width: 100%;
            padding: 10px;
            margin-top: 10px;
            box-sizing: border-box;
        }
        .form-row {
            display: flex;
            justify-content: space-between;
        }
        .form-row input {
            width: 48%;
        }
